1	多孔 式 制动 盘 让 车 的 刹车 距离 很 理想 , 灵敏 而 有 恰 倒 好处 。
1	我 觉得 方向盘 挺 好 , 很 洋气 。
1	在 市区 基本 上 12-12.5 左右 , 空调 常 开 , 还 算 满意 , 我 的 驾驶 习惯 是 起步 大油 门 , 瞬间 油耗 直奔 20 , 待 车 迅速 达到 40-60 左右 时 收油 , 瞬间 油耗 保持 在 10 左右 甚至 更 低 , 让 车 能 保持 加速 后 的 速度 行使 就 可以 了 , 如果 起步 时 舍不得 给 油 , 那么 加速 过程 是 非常 缓慢 的 , 大部分 车 都 会 把 你 丢 在 灯 位 处 从 你 身边 飞驰 而 过 , 跑 高速 后 油耗 还 能 继续 降低 , 现在 综合 油耗 在 11 个 左右 。
1	方向盘 不 重 , 但是 不 会 有 丝毫 的 松懈 。
1	C230 的 方向盘 也 是 很 轻 。
-1	噪音 , 除了 噪音 其他 还 好 。 出厂 的 隔音 差强人意 , 只能 靠 自己 后期 去 做 全 车 隔音 , 原 车 的 隔音 太 差 , 噪音 实在 让 人 很 为难 。
-1	装配 工艺 , 细节 需要 提高 , 美国 工厂 的 装配 水 品 似乎 还 不如 国内 大 厂 。 比如 方向盘 割 手 , 比如 油门 踏板 处 凌乱 。
-1	价格 偏 高 、 可 选 包 与 后期 官方 升级 提供 的 内容 较 少 。 比如 三 厢 顶 配 的 氙气 大 灯 只能 在 购 车 时 选 装 , 提 车 后 就 装 不 了 了 。
-1	刹车 偏 软 , 后 悬 架 调教 太 硬 , 过 减速 带 跳跃 严重 。 右侧 盲区 监测 开关 位置 不 方便 , 不 看 按 不 准 , 后来 我 贴 了 个 苹果 多功能 键 的 铝 质 贴片 解决 , 可以 摸 着 按 了 。
-1	暂时 还 没 发现 。 非 要说 的话 当然 是 万恶 的 4S 店 , 看 我 急 着 拿 车 , 加价 , 捆绑 , 都 是 泪 。