1	尤其 是 油耗 , 比 我 想象 的 要 低 得 多 , 城里 9.5L/100 公里 , 市郊 7.5L/100 公里 , 过 了 磨合期 应该 还 会 降 一点 。
1	排 档 杆 , 最 下面 是 S 档 , 开 起来 比 D 档 加速 猛 多 了 , 往 右 拨 是 手动 档 , 拨 完 就 可以 用 方向盘 上 的 换 档 拨 片 了 , 在 直线 加速 的 时候 用 很 顺手 。
1	但是 如果 发动机 到 了 三千 转 的 话 , 还是 有 推 背 感 的 , 40 公里 以上 的 时候 这 台 车 的 动力 才 能 显现 出来 , 其实 这 台 车 的 动力 并 没有 想象 中 的 弱 , 只 是 它 是 一 台 中段 发 力 的 车 , 所以 比 起步 的 话 , 肯定 要 差 一些 。
1	后座 空间 非常 大
1	油耗 么 如果 全市 区 , 车速 基本 在 40 公里 以下 , 那 15 升 是 少不了 的 , 如果 城郊 结合 , 大概 郊区 在 70% 左右 , 以前 我 是 电脑 显示 10.4 到 10.9 之间 , 最近 好像 高 了 , 一般 在 11.5 到 11.7 之间 , 也 不知 什么 原因 , 我 都 是 全程 开 空调 的 , 买 来 我 空调 就 没有 关 过 , 都 是 调 成 自动 的 , 这 油 我 觉得 比 雅 阁 省 , 因为 都 是 一样 的 路 , 我 以 前 开雅阁 是 12 到 13 升 之间 , 城郊 结合 , 也 是 全部 空调 。
-1	没有 疝气 大 灯 也 就 算 了 , 日 间 行车 灯 也 不 是 LED 的 ; 还有 就 是 没有 后 排 出 风口 , 座椅 还 用 老掉牙 的 旋转 按钮 , 真是 复古 !
-1	最 不 满意 的 是 对 自己 , 本来 是 想 上 1.6T 的 , 车 本来 是 个 消耗品 , 想 买 个 好 点 的 , 动力 后劲 十足 的 , 但是 预算 不够 , 这 点 有 点 憋 屈 。 另外 就 是 车 里面 的 塑料 用 多 了 点 。
-1	噪音 和 异 响 , 这个 比较 烦人 , 胎 燥 和风 燥 真的 不 是 一般 的 大 , 发动机 的 噪音 也 不 小 !
-1	还是 配置 太 少 了 , 你 说 也 15万 多 买 的 啊 , 那 中 控 太 中庸 了 。 还有 那 行车 电脑 , 你 还 能 在 小 点 吗 。 还有 加 个 雾 灯 没 多少 钱 吧 。
-1	暂时 还 没有 , 但 有时 倒 档 、 1 、 2 档 没 挂 不 进去 , 转速 上来 之后 才 发现