1	慢车 时 方向盘 没 过去 很多 人 说 的 很 轻 的 感觉 , 也 不 重 , 感觉 刚刚 好 。
1	宝马 若干 车 系 里 , 三 系 的 操 控 应该 是 相当 不错 了 , 三 系 应该 是 宝马 公司 诸多 产品 中 的 台柱子 了 : 精 准 的 转向 、 方向盘 回 正 时 力度 很 恰到好处 。
1	殊荣 的 2.0TFSI 发动机 再次 成为 全新 奥迪 A4L 的 动力 源泉 , 该 发动机 的 动力 是 132KW/180P , 其 最 大 扭 矩 是 320Nm 。
1	噪音 控制 相当 出色 , 静音 程度 跟 我 朋友 的 A6L2.4 差不多 , 而且 小 C 的 发动机 声音 很 特别 , 以前 我 开 的 都 是 自然 吸气 车 , 小 C 跟 这些 车 都 不 一样 , 匀速 行驶 时 几乎 听 不 见 发动机 噪音 , 基本上 只有 胎 噪 和风 噪 , 大 油门 加速 时 , 会 听见 频率 比较 高 的 涡轮 声 , 就 跟 飞机 起飞 时候 的 涡轮 喷气 发动机 声音 很 像 , 也 有 一 种 让 人 要 热血 沸腾 的 感觉 。
1	空间 够用 ( 废话 , 她 一 腰围 25 英寸 臀围 35 英寸 体重 48KG 的 苗条 美女 如果 还 嫌 窄 , 梅赛德斯 别 混 了 ) 。
-1	夏天 开 空调 简直 就 是 受罪 , 肉 的 不 能 再 肉 , 不 开 空调 动力 还是 够 用 的
-1	车身 太 长 , 停车 不便 , 看 着 挺 宽 的 车位 就 是 进 不 去 , 去 市里 不如 开 小车 方便 。
-1	入手 一个 多 月 , 开 了 两千二百 多 公里 , 暂时 没有 发现 什么 最 不 满意 的 地方 , 之前 有 车 友 反应 倒车 有 点 肉 , 个 人 觉得 还 好 , 倒 车 时 稍 等 两 秒 再 松开 刹车 , 会 好 很多 。
-1	大 灯 非常 的 坑 , 完全 就 是 个 白内障 , 导致 总是 觉得 像 没 开 灯 似的 , 总 怀疑 是 不 是 拧 到 了 近 光 灯 , 还 是 只 打开 了 示 宽 灯 。